# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xml
*.iml
*.make
*.json
*.cmake
*.bin
*.cbp
*.txt
*.c
*/cmake-build-debug/


# CLion-specific files
.idea/
cmake-build-debug/
cmake-build-release/

# Compiled files
*.o
*.exe
*.dll

# Debug files
*.pdb

# Linux build files
*.so

# macOS build files
*.dSYM/

# Executable files
a.out

# Libraries
lib*

# Test outputs
tests/test-reports/

